services:
  api:
    build:
      context: .
      dockerfile: src/Api/Dockerfile
    env_file:
      - .env.example
    ports:
      - "8080:8080"
  database:
    env_file:
      - .env.example
    ports:
      - "$HOSTING_PORT:5432"
