services:
  api:
    image: api
    depends_on:
      database:
        condition: service_healthy
  
  database:
    image: postgres:18
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U $$POSTGRES_USER -d $$POSTGRES_DB" ]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 30s
    volumes:
      - database_data:/var/lib/postgresql/18/data

volumes:
  database_data:
    driver: local

